<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="db" connectionString="server=primeuniverse.ddns.net;port=3306;user id=sb;password=123684521@sb;database=pu;CharSet=utf8mb4;" />
  </connectionStrings>
</configuration>